.Notifications {
  padding: 10px;
  border: 2px dashed #e0354b;
  margin: 5px;
  position: relative;
}

.Notifications ul {
  padding-left: 20px;
}

.Notifications ul li[data-notification-type="default"] {
  color: blue;
}

.Notifications ul li[data-notification-type="urgent"] {
  color: red;
}
